{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}
Reset Password Email
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/Reset_Password_Styles.css' %}">
{% endblock style %}

{% block content %}
<div class="email-otp-wrapper">
    <h3 class="email-title">Enter Your Registered Email Address</h3>
    {% for message in messages %}
        <p class="form-message">{{ message }}</p>
    {% endfor %}
    <form action="" method="post" class="email-otp-form">
        {% csrf_token %}
        {{email_form.as_p}}
        <button type="submit" class="send-otp-button">Send OTP</button>
    </form>
</div>
{% endblock content %}


