{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}
Course Info Create
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/Admins/Course_Info/Course_Info_Create_Edit_Styles.css' %}">
{% endblock style %}


{% block content %}

{% if user.is_authenticated and user.is_superuser %}
<div class="course-info-form-container">
    <h2 class="form-title">Create Course</h2>
    <form action="" method="post" class="course-info-form">
        {% csrf_token %}
        {{ course_info_form.as_p }}
        <button type="submit" class="submit-button">Create</button>
    </form>
</div>
{% endif %}

{% endblock content %}


