{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}
Course Trailer Edit
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/Admins/Course_Trailer/Course_Trailer_Create_Edit_Styles.css' %}">
{% endblock style %}

{% block content %}

{% if user.is_authenticated and user.is_superuser %}
    <div class="trailer-creation-container">
        <h2 class="trailer-title">{{course_section_selected}} Section</h2>
        <form method="post" class="trailer-form">
            {% csrf_token %}
            {{ course_section_edit_form.as_p }}
            <button type="submit" class="trailer-submit-btn">Update Section</button>
        </form>
    </div>
{% endif %}

{% endblock content %}
